body {
    background-color: #0d0d0d;
}

.top-container {
    background-color: black;
    padding: 30px;
    text-align: center;
  }
  
.mid-container {
    background-color: black;
    /* padding: 30px; */
    text-align: center;
}
